<header>
  <nav class="navbar" role="navigation">
    <div class="navbar__left">
      <a href="{{ "/" | relLangURL }}" class="brand">
        <span class="brand__name">{{ i18n "brand_name" }}</span>
        <span class="brand__tagline">{{ i18n "brand_tagline" }}</span>
      </a>
    </div>
    <div class="navbar__right">
      <a href="{{ "/" | relLangURL }}">{{ i18n "nav_home" }}</a>
      <a href="{{ "/product/" | relLangURL }}">{{ i18n "nav_products" }}</a>
      <a href="{{ "/about/" | relLangURL }}">{{ i18n "nav_about" }}</a>
      <div class="lang-switch">
        {{ $page := .Page }}
        {{ $all := $page.AllTranslations }}
        {{ if .IsHome }}
          {{ $all = .Site.Home.AllTranslations }}
        {{ end }}
        {{ range .Site.Languages }}
          {{ $lang := .Lang }}
          {{ $t := where $all "Lang" $lang }}
          {{ if gt (len $t) 0 }}
            {{ $p := index $t 0 }}
            <a class="{{ if eq $page.Lang $lang }}is-active{{ end }}" href="{{ $p.RelPermalink }}">{{ .LanguageName }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </nav>
</header>
